# pandas的函数操作

由于python本身对函数式编程的支持,以及pandas底层依赖的numpy优秀的向量化计算能力,pandas可以使用类似Universal  Function的方式向量化的求值.

本文例子依然使用[iris]()数据集

In [1]:
import pandas as pd
iris_data = pd.read_csv("source/iris.csv")
iris_data[:5]

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

> 例:求出iris三类的信息熵

In [2]:
import scipy as sp
slogs = lambda x:sp.log(x)*x
entropy = lambda x:sp.exp((slogs(x.sum())-x.map(slogs).sum())/x.sum())
iris_data.groupby("class").agg(entropy)

                 sepal_length  sepal_width  petal_length  petal_width
class
Iris-setosa         49.878745    49.695242     49.654909    45.810069
Iris-versicolor     49.815081    49.680665     49.694505    49.452305
Iris-virginica      49.772059    49.714500     49.761700    49.545918

### 广播

所谓广播就是一个矢量和一个标量的运算,所有矢量中元素都被同样的操作,pandas可以支持这种操作

In [3]:
data1 = iris_data[:10].copy()
data1

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa

In [4]:
data1*10

,sepal_length,sepal_width,petal_length,petal_width,class
0,51.0,35.0,14.0,2.0,Iris-setosaIris-setosaIris-setosaIris-setosaIr...
1,49.0,30.0,14.0,2.0,Iris-setosaIris-setosaIris-setosaIris-setosaIr...
2,47.0,32.0,13.0,2.0,Iris-setosaIris-setosaIris-setosaIris-setosaIr...
3,46.0,31.0,15.0,2.0,Iris-setosaIris-setosaIris-setosaIris-setosaIr...
4,50.0,36.0,14.0,2.0,Iris-setosaIris-setosaIris-setosaIris-setosaIr...
5,54.0,39.0,17.0,4.0,Iris-setosaIris-setosaIris-setosaIris-setosaIr...
6,46.0,34.0,14.0,3.0,Iris-setosaIris-setosaIris-setosaIris-setosaIr...
7,50.0,34.0,15.0,2.0,Iris-setosaIris-setosaIris-setosaIris-setosaIr...
8,44.0,29.0,14.0,2.0,Iris-setosaIris-setosaIris-setosaIris-setosaIr...
9,49.0,31.0,15.0,1.0,Iris-setosaIris-setosaIris-setosaIris-setosaIr...

In [5]:
data1["sepal_length"]*10

0    51.0
1    49.0
2    47.0
3    46.0
4    50.0
5    54.0
6    46.0
7    50.0
8    44.0
9    49.0
Name: sepal_length, dtype: float64

### 使用numpy的universal functiion

In [6]:
import numpy as np
np.exp(data1["sepal_length"])
f_npexp = np.frompyfunc(lambda x :np.exp(x)+1,1,1)
f_npexp(data1["sepal_length"])

0    165.022
1     135.29
2    110.947
3    100.484
4    149.413
5    222.406
6    100.484
7    149.413
8    82.4509
9     135.29
Name: sepal_length, dtype: object